/* backgrounds */
body{
	margin:		0px;
	padding:	0px;
	background-image:	url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
article{
	background-image: 	url(../images/bg_forum.png);
	background-position: center;
	background-repeat: repeat-y;
	width: 1119px;
	position: relative;
	overflow: auto;
	min-height: 1066px;
	margin-right: auto;
	margin-left: auto;
}
/* Fonts */
@font-face {
    font-family:		'Supercell';
    src:				url('Supercell-magic-webfont.ttf') format('truetype');
    font-weight:		normal;
    font-style:			normal;
}
@font-face {
    font-family: 'SansationRegular';
    src: url('sansation_regular-webfont.eot');
    src: url('sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansation_regular-webfont.woff') format('woff'),
         url('sansation_regular-webfont.ttf') format('truetype'),
         url('sansation_regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Footer */
footer {
	display:block;
	background-image: url(../images/footer.png);
	background-repeat: repeat-x;
	width: 1006px;
	position: relative;
	margin-top: -60px;
	text-decoration: overline;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
}
footer div.footerBlock {
	width: 263px;
	float: left;
	height: 200px;
	padding-left: 20px;
	padding-right: 47px;
	background: none repeat scroll 0 0 transparent;
}
footer div.footerBlock  h1{
	font-family: SansationRegular;
	font-size: 18px;
	font-style: italic;
	line-height: 30px;
	font-weight: lighter;
	color: #FFF;
	margin:	0px;
}
footer div.footerBlock  h2{
	color: #FFFFFF;
	font-family: SansationRegular;
	font-size: 17px;
	font-style: normal;
	font-weight: lighter;
	line-height: 17px;
	text-transform: uppercase;
	margin:	0px;
}
footer div.footerBlock  span{
	color: #FFFFFF;
	font-family: SansationRegular;
	font-size: 12px;
	font-style: normal;
	font-weight: lighter;
	text-transform: lowercase;
}
footer div.footerBlock  a{
	color: #437F0D;
    font-family: SansationRegular;
    font-size: 12px;
    font-style: normal;
    font-weight: lighter;
	text-decoration: none;
}
footer .breaker {
	background-image: url(../images/br_footer.png);
	height: 24px;
	width: 263px;
}
footer div.content{
	height: 233px;
	width: 992px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 65px;
}
div.footer_article{
	background-image: url(../images/bg_footer_forum.png);
	height: 184px;
	width: 1119px;
	margin-right: auto;
	margin-left: auto;
}
/* Header */
header {
    background-image: url("../images/bg_header.png");
    background-repeat: no-repeat;
    height: 182px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 1119px;
}
/* Menu */
nav{
	background-image: url(../images/nav.png);
	height: 148px;
	width: 1119px;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	z-index: 3000;
}
nav h1{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    color: #333333;
    float: left;
    font-family: Supercell;
    font-size: 24px;
    font-style: normal;
    font-weight: lighter;
    height: 25px;
    line-height: 9px;
    margin-left: 90px;
    margin-top: 32px;
    padding-left: 8px;
    padding-top: 50px;
    text-transform: none;
    width: 250px;
}
nav ul{
    float: left;
    padding-left: 61px;
    width: 680px;
	margin:	0px;
}
nav li {
    display: block;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}
nav a {
	background-image: url(../images/sub_nav.png);
	background-position: left bottom;
	background-repeat: repeat-x;
	color: #D4E4AD;
	display: block;
	font-family: SansationRegular;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	height: 75px;
	line-height: 115px;
	text-transform: uppercase;
	text-decoration: none;
}
nav a:hover{
	color: #FFF;
}
/* sub menu of clasher */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-image: url(../images/subnav.png);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* Links inside the dropdown */
.dropdown-content a {  
	padding: 12px 16px;
	display: block;
	background-image: url(../images/separation_aside.png);
	background-position: left bottom;
	background-repeat: repeat-x;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Section */
section {
	margin-top:			50px;
	list-style-type: 	none;
	display:			flex;
    justify-content:	center;
    align-items:		center;
}
section h2 {
	font-family:		'Supercell';
}
section table {
	border-style:		solid;
    border-width:		5px;
	border-collapse:	collapse;
}
section th {
	
}
section td {
	border-style:		solid;
	margin-top:			10cm;
}
section td#PlayerName {
	font-family:		'Supercell';
}

/* Player profile */
div#level {
	width:						50px;
	height:						50px;
	background-image:			url('../images/level.png');
	background-position:		center;
	background-repeat:			no-repeat;
	background-size:			50px 48px;
	padding-top:				30px;
	font-family:				'Supercell';
	font-size:					11px;
	color:						rgb(255, 255, 255);
	text-align:					center;
	text-shadow: 				rgba(0, 0, 0, 0.1) -2px 3px 0px;
}
div#playername {
	font-family:				'Supercell';
	font-size:					18px;
	margin-left:				50px;
	margin-right:				50px;
}
div#items {
	display: 					flex;
	flex-wrap: 					wrap;
	width: 						800px;
	justify-content: 			space-around;
}
div#items div p {
	border-bottom-left-radius:	5px;
	border-bottom-right-radius:	5px;
	border-top-left-radius:		5px;
	border-top-right-radius:	5px;
	color:						rgb(255, 255, 255);
	font-family:				'Supercell';
	margin:						0px;
	padding-top:				5px;
	text-align:					center;
	position:					relative;
}
.Troop {
	width:						140px;
}
.Troop img {
	height:						70px;
	width:						140px;
	border-bottom-left-radius:	5px;
	border-bottom-right-radius:	5px;
	border-top-left-radius:		5px;
	border-top-right-radius:	5px;
}
.Troop p, .Spell p {
	font-size:					11px;
	height:						20px;
	width:						25px;
	left:						100px;
	bottom:						50px;
}
.Spell {
	width:						140px;
}
.Spell img {
	height:						70px;
	width:						140px;
	border-bottom-left-radius:	5px;
	border-bottom-right-radius:	5px;
	border-top-left-radius:		5px;
	border-top-right-radius:	5px;
}
.Heroe {
	width:						200px;
}
.Heroe img {
	height:						100px;
	width:						200px;
	border-bottom-left-radius:	5px;
	border-bottom-right-radius:	5px;
	border-top-left-radius:		5px;
	border-top-right-radius:	5px;
}
.Heroe p {
	font-size:					14px;
	height:						26px;
	width:						35px;
	left:						150px;
	bottom:						70px;
}
div [data-item='normal'] p {
	background-color:			rgb(68, 68, 68);
}
div [data-item='max'] p {
	background-color:			rgb(255, 220, 68);
}
/* Clan data*/
.clan_detail {
	display: 					inline-block;
}
.clan_detail p {
	display:					inline-block;
	vertical-align:				top;
	margin:						0px;
	margin-top:					10px;
}
.clan_detail img {
	display:					inline-block;
	margin-top:					3px;
	margin-left:				3px;
	width:						30px;
	height:						30px;
}
/* Daily */
.memberList {
	background-color:			rgb(214, 204, 186);
	display: 					flex;
	line-height:				36px;
	text-align:					center;
	vertical-align:				top;
	padding-left:				10px;
	padding-right:				10px;
	padding-top:				10px;
	margin-top:					10px;
	border-bottom-left-radius:	10px;
	border-bottom-right-radius:	10px;
	border-top-left-radius:		10px;
	border-top-right-radius:	10px;
}
.position {
	background-color:			rgb(68, 68, 68);
	border-bottom-left-radius:	10px;
	border-bottom-right-radius:	10px;
	border-top-left-radius:		10px;
	border-top-right-radius:	10px;
	font-family:				'Supercell';
	font-size:					14px;
	color:						rgb(255, 255, 255);
	height: 					36px;
	width:						36px;
	text-rendering: 			optimizelegibility;
	text-shadow: 				rgba(0, 0, 0, 0.1) 0px 3px 0px;
}
.evolution {
	width:						40px;
	margin-left:				5px;
}
div [data-position='up'] {
	background-image:			url('../images/up.png');
	background-position:		center;
	background-repeat:			no-repeat;
	background-size: 			36px 36px;
	margin-bottom: 				10px;
}
div [data-position='down'] {
	background-image:			url('../images/down.png');
	background-position:		center;
	background-repeat:			no-repeat;
	background-size: 			36px 36px;
	margin-bottom: 				10px;
}
div [data-position='equal'] {
	background-image:			url('../images/equal.png');
	background-position:		center;
	background-repeat:			no-repeat;
	background-size: 			36px 36px;
	margin-bottom: 				10px;
}
div [data-position='new'] {
	background-image:			url('../images/new.png');
	background-position:		center;
	background-repeat:			no-repeat;
	background-size: 			36px 36px;
	margin-bottom: 				10px;
}
.league {
	width:						50px;
}
.level {
	width:						50px;
	background-image:			url('../images/level.png');
	background-position:		center;
	background-repeat:			no-repeat;
	background-size:			45px 42px;
	margin-bottom:				10px;
	margin-right:				10px;
	font-family:				'Supercell';
	font-size:					11px;
	color:						rgb(255, 255, 255);
	text-shadow: 				rgba(0, 0, 0, 0.1) -2px 3px 0px;
}
.playerName {
	display:					inline-block;
	flex-grow:					1;
	text-align:					left;
}
.playerName p {
	display:					inline-block;
	font-family:				'Supercell';
	margin:						0px;
	vertical-align:				top;
}
.playerName img {
	display:					inline-block;
	width:						36px;
	height:						36px;
	margin-left:				4px;
}
.trophies {
	display:					inline-block;
	background-color:			rgb(226, 196, 90);
	border-bottom-left-radius:	10px;
	border-bottom-right-radius:	10px;
	border-top-left-radius:		10px;
	border-top-right-radius:	10px;
	height: 					36px;
	width:						100px;
	text-shadow: 				rgba(0, 0, 0, 0.1) 0px 3px 0px;
}
.trophies p {
	display:					inline-block;
	font-family:				'Supercell';
	font-size:					14px;
	color:						rgb(255, 255, 255);
	margin:						0px;
	vertical-align:				top;
}
.trophies img {
	display:					inline-block;
	margin-top:					3px;
	margin-left:				3px;
	width:						30px;
	height:						30px;
}
.troops {
	width:						80px;
}
.ratio {
	width:						60px;
}
div[data-ratio='bad'] {
	color:						rgb(255, 0, 0);
}
div[data-ratio='good'] {
	color:						rgb(0, 157, 0);
}
#lastupdate {
	width: 910px;
}